<%= form_for(@user) do |f| %>
  <div>
    First Name: <%= f.text_field :first_name %>
  </div>
  <div>
    Last Name: <%= f.text_field :last_name %>
  </div>
  <div>
    Emails: <%= f.text_field :email %>
  </div>
  <%= f.submit %>
<% end %>
