<div class="logged-in-info">
  <% if current_user %>
    Logged in as <%= current_user.email %> | 
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log in', new_user_session_path %>
  <% end %>
</div>
