<h1><%= t('users.list.title') %></h1>
<table class="table">
  <tr>
    <th><%= t('users.list.columns.email') %></th>
    <th><%= t('users.list.columns.name') %></th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr id="user-id-<%= user.id %>">
      <td><%= user.email %></td>
      <td><%= user.full_name %></td>
      <td>
        <% if can? :manage, ::User %>
          <%= link_to t('users.list.actions.edit'), edit_user_path(user), class: 'btn btn-warning' %>
          <%= link_to 'Delete', user_path(user),
            method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
          %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if can? :manage, ::User %>
  <div>
    <%= link_to 'Add new', new_user_path, class: 'btn btn-primary' %>
  </div>
<% end %>
