<!DOCTYPE html>
<html>
  <head>
    <title>Super App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: '/users/logged_in' %>
      <!-- template goes here: -->
      <%= yield %>
    </div>
  </body>
</html>
